html {
  font-size: 62.5%;
}

* > * {
  margin-top: 0;
}

body {
  margin: 0;
}

.container-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  min-width: 37.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container-grid {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 42.4%;
    max-height: 80rem;
  }
}

.logo {
  display: block;
  height: auto;
  margin: 3rem 3rem 3rem 3rem;
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 6.5rem 3rem 3rem 16.4rem;
    width: 16rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-area {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.hero-area__img {
  display: block;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-area__img {
    max-height: 80rem;
    object-fit: contain;
    object-position: right top;
  }
}

.txt-area {
  padding: 0 3.1rem;
}
@media screen and (min-width: 768px) {
  .txt-area {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 22rem 0 16.6rem;
  }
}

.headline__start {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.3rem;
  font-weight: 300;
  letter-spacing: 0.75rem;
  margin: 5.5rem auto -0.6rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .headline__start {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6.3rem;
    font-weight: 300;
    letter-spacing: 1.75rem;
    margin: 10rem auto -0.6rem;
    text-align: left;
  }
}

.headline__end {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1.2rem;
  line-height: 1.09;
  margin-bottom: 1.6rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .headline__end {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 1.6rem;
    line-height: 1.09;
    margin-bottom: 1.8rem;
    text-align: left;
  }
}

.copy {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.75;
  margin-bottom: 3.1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copy {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.9;
    margin-bottom: 3.9rem;
    text-align: left;
  }
}

.email-submit-row {
  align-items: center;
  border: 0.1rem solid purple;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.email-submit-row__input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  border: none;
  padding: 1.7rem 1.7rem 1.7rem 2.5rem;
}
@media screen and (min-width: 768px) {
  .email-submit-row__input {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 2rem 1.7rem 2rem 2.5rem;
  }
}
.email-submit-row__btn {
  align-items: center;
  border-radius: 3rem;
  display: flex;
  height: 4.7rem;
  justify-content: center;
  width: 20%;
}
@media screen and (min-width: 768px) {
  .email-submit-row__btn {
    border-radius: 3rem;
    height: 5.5rem;
    width: 23%;
  }
}
.email-submit-row__btn-img {
  display: block;
  width: auto;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  .email-submit-row__btn-img {
    height: 2rem;
  }
}

body {
  background-image: url("./design/desktop-design.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

/*# sourceMappingURL=styles.css.map */
