// 1. @use
@use 'partials/vars' as *;
@use 'partials/email-form' as *;

// 2. Tools

// 3. Generic

// CSS reset
* > * {
  box-sizing: border-box;
  margin-top: 0;
}

// * > *:focus-visible {
//   outline: none;
// }

// Normalizing rules
html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

// 4. Elements

.container-grid {
  display: grid;
  grid-template-rows: 100% 100% 100%;

  min-width: $x-small;
  max-width: $small;

  @media screen and (min-width: $breakpoint) {
    grid-template-rows: 24rem 1fr;
    grid-template-columns: 1fr minmax(min-content, max-content);
    column-gap: 7rem;

    width: 144rem;
    max-width: none;
    height: 80rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: $breakpoint) {
      align-items: center;
      min-height: 100vh;
    }
  }
}

.logo {
  display: block;

  margin: 3rem 0 3rem 3rem;
  max-width: 15.8rem;
  height: auto;

  @media screen and (min-width: $breakpoint) {
    margin: 6rem 0 0 0;
    width: 36rem;
  }

  &__wrapper {
    @media screen and (min-width: $breakpoint) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      margin: 0 auto;
      width: 43rem;
    }
  }
}

.hero-img {
  display: block;

  margin-bottom: 5.5rem;
  width: 100%;
  height: auto;

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 0;
    width: 61rem;
  }

  &__wrapper {
    @media screen and (min-width: $breakpoint) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}

.txt-area {
  @media screen and (min-width: $breakpoint) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.txt-container {
  padding: 0 3rem;

  @media screen and (min-width: $breakpoint) {
    margin: 0 auto;
    padding: 0;
    max-width: 43rem;
  }
}

.headline__start {
  margin-bottom: -0.6rem;

  @include font(4.3rem, $light);
  letter-spacing: 0.75rem;
  text-align: center;

  color: $primary;

  @media screen and (min-width: $breakpoint) {
    margin-bottom: -0.6rem;

    @include font(6.3rem, $light);
    letter-spacing: 1.75rem;
    text-align: left;
  }
}

.headline__end {
  margin-bottom: 2rem;

  @include font(4rem, $semi-bold);
  letter-spacing: 1.2rem;
  line-height: 1.09;
  text-align: center;

  color: $secondary;

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 1.8rem;

    @include font(6.5rem, $semi-bold);
    letter-spacing: 1.6rem;
    line-height: 1.09;
    text-align: left;
  }
}

.copy {
  margin-bottom: 3.1rem;

  @include font(1.25rem, $regular);
  letter-spacing: 0.1rem;
  line-height: 1.75;
  text-align: center;

  color: $primary;

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 3.9rem;

    @include font(1.5rem, $regular);
    letter-spacing: 0.05rem;
    line-height: 1.9;
    text-align: left;
  }
}

// Development redefinition level

body {
  background: {
    // image: url("./design/desktop-design.jpg");
    repeat: no-repeat;
    position: left top;
    size: contain;
  }
}
