@use 'vars' as *;

%btn-selected {
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0deg 80% 86% / 50%), hsl(0deg 74% 74% / 50%));
}

.email-form *:focus-visible {
  outline: none;
}

.email-form {
  
    &__row-container {
      position: relative;

      border-radius: 2.5rem;
      height: 5rem;
      
      overflow: hidden;

      @media screen and (min-width: $breakpoint) {
        border-radius: 3rem;
        height: 6rem;  
      }
    }
  
    &__row {
      // position: relative;
      // z-index: 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 100%;
  
      border: 0.1rem solid hsl(0deg 36% 70% / 50%);
      border-radius: 2.5rem;

      @media  screen and (min-width: $breakpoint) {
        border-radius: 3rem;
      }  
    }
  
    &__row:focus-within {
      border: 0.2rem solid hsl(0deg 36% 70% / 50%);
    }
  
    &__row--on-err {
      border: 0.2rem solid $danger;
    }
  
    &__input {
      display: block;
  
      border: none;
      padding-left: 2.5rem;
      
      @include font(1.25rem, $regular);
      color: $secondary;
  
      @media screen and (min-width: $breakpoint) {
        padding-left: 3rem;

        @include font(1.25rem, $regular);
      }
    }

    &__input::placeholder {
      color: $primary;
    }

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
      // z-index: 1;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: 7rem;
      height: 100%;
  
      border: none;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      padding: 0;
  
      background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  
      @media screen and (min-width: $breakpoint) {
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        width: 10rem;
      }
    }
  
    &__btn:hover {
      @extend %btn-selected;
    }
  
    &__btn:focus-visible {
      @extend %btn-selected;
    }
  
    &__btn-img {
      display: block;
  
      width: auto;
      height: 2rem;
  
      @media screen and (min-width: $breakpoint) {
        height: 2rem;
      }
    }
  
    &__err-icon {
      display: none;
  
      position: absolute;
      top: 1.2rem;
      right: 8rem;
  
      width: 2.4rem;
      height: 2.4rem;
  
      @media screen and (min-width: $breakpoint) {
        top: 2rem;
        right: 11rem;
      }
    }
  
    &__err-icon--on-err {
      display: block;
    }
  
    &__err-msg {
      visibility: hidden;
  
      margin-top: 1rem;
      margin-left: 2rem;
  
      @include font(1.2rem, $regular);
      color: $danger;
    }
  
    &__err-msg--on-err {
      visibility: visible;
    }
  }
  